body {
    margin: auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: rgb(158, 186, 166);
}

header {
    background-color: rgb(240, 167, 183);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    text-shadow: 
            1px 1px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black;
    padding: 1em;
    margin: 0.5em 0;
}

nav {
    text-align: center;
    padding: 1em 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    padding: 10px 37px;
    margin: 0;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(240, 167, 183);
    transition: background-color 0.3s, color 0.3s;
}

nav li:hover {
    background-color: white;
}

.item {
    border: 2px solid black;
    margin: 1em;
    padding: 0.2em 0.5em;
    background-color: rgb(239, 197, 206);
}

.content {
    background-color: rgb(239, 197, 206);
    border: 1px solid black;
    padding: 1em;
    margin: 0.5em 0;
}

h1, h2 {
    margin: 0;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.category-button {
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 15px;
}

.error { 
    border: 2px solid black;
    margin-bottom: 0.5em;
    padding: 1em;
    background-color: red;
    color: white;
}
.success { 
    border: 2px solid black;
    margin-bottom: 0.5em;
    padding: 1em;
    background-color: green;
    color: white;
}