{% extends "layout.html" %}

{% block title %}Matkasuunnitelman muokkaus{% endblock %}

{% block content %}
<h2>{{ item.destination }}</h2>
<h3>Matkasuunnitelman muokkaus</h3>
<form action="/update_item" method="post">
  <p>
    <label for="destination">Matkakohde</label>:<br />
    <input type="text" name="destination" id="destination" value="{{ filled.destination if filled.destination else item.destination }}" maxlength="50" required />
  </p>
  <fieldset>
    <legend>Matkan ajankohta</legend>
    <label for="start_date">Alkamispäivä:</label>
    <input type="date" name="start_date" id="start_date" size="8" min="2026-01-01" required value="{{ filled.start_date if filled.start_date else item.start_date }}"/>
    -
    <label for="end_date">Päättymispäivä:</label>
    <input type="date" name="end_date" id="end_date" size="8" min="2026-01-01" required value="{{ filled.end_date if filled.end_date else item.end_date }}"/>
  </fieldset>

  {% for message in get_flashed_messages() %}
  <div class="error">
    {{ message }}
  </div>
  {% endfor %}

  {% for class in all_classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</a>: <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
      {% for option in all_classes[class] %}
        {% if filled and (class + ':' + option) in filled.classes %}
          <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
        {% elif classes[class] == option %}
          <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
        {% else %}
          <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endif %}
      {% endfor %}
    </select> 
  </p>
  {% endfor %}
  <p>
    <label for="description">Suunnitelma</label>:<br />
    <textarea name="description" id="description" rows="8" cols="60" maxlength="2000" required>{{ filled.description if filled.description else item.description }}</textarea>
  </p>
  <input type="hidden" name="item_id" value="{{ item.id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä matkasuunnitelma" />
</form>
<p>
  <a href="/item/{{ item.id }}">Takaisin ilmoitukseen</a>
</p>
{% endblock %}