{% extends "layout.html" %}

{% block title %}Etsi ilmoitus{% endblock %}

{% block content %}

<h2>Etsi matkasuunnitelma</h2>

<form action="/find_item" method="get">
    <p>
        Hakusana: <input type="text" name="query" value="{{ query }}">
    </p>
    <input type="submit" value="Lähetä">
</form>

{% if query %}
<h3>Tulokset</h3>
<u>
    {% for item in results %}
    <li><a href="/item/{{ item.id }}">{{ item.destination }}</a></li>
    {% endfor %}
</u>
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
{% endwith %}
{% endif %}
{% endblock %}