{% extends "layout.html" %}

{% block title %}Etsi ilmoitus{% endblock %}

{% block content %}

<h2>Etsi matkasuunnitelma</h2>

<form action="/find_item" method="get">
    <p>
        Hakusana: <input type="text" name="query" value="{{ query }}">
    </p>
    <input type="submit" value="Lähetä">
</form>

{% if query %}
<h3>Tulokset</h3>
<u>
    {% for item in results %}
    <li><a href="/item/{{ item.id }}">{{ item.destination }}</a></li>
    {% endfor %}
</u>
{% for message in get_flashed_messages() %}
<p>
    <b>{{ message }}</b>
</p>
{% endfor %}
{% endif %}
{% endblock %}