{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
<h2>Kirjaudu sisään</h2>

<style>
  .error { color: red; }
</style>

<form action="/login" method="post">
  <p>
    Tunnus: <br />
    <input type="text" name="username" />
  </p>
  <p>
    Salasana: <br />
    <input type="password" name="password" />
  </p>
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <input type="submit" value="Kirjaudu" />
</form>
{% endblock %}