{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
<h2>Luo tunnus</h2>

<style>
  .error { color: red; }
  .success { color: green; }
</style>

<form action="/create" method="post">
  <p>
    Tunnus: <br />
    <input type="text" name="username" minlength="3" maxlength="30" required/>
  </p>
  <p>
    Salasana: <br />
    <input type="password" name="password1" minlength="8" maxlength="60" required/>
  </p>
  <p>
    Salasana uudestaan: <br />
    <input type="password" name="password2" required/>
  </p>

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <input type="submit" value="Luo tunnus" />
</form>
{% endblock %}