{% extends "layout.html" %}

{% block title %}{{ item.destination }}{% endblock %}

{% block content %}

<h2>{{ item.destination }}</h2>
{% if session.user_id == item.user_id %}
<p>
    <a href="/edit_item/{{ item.id }}">Muokkaa</a>
    <a href="/remove_item/{{ item.id }}">Poista</a>
    <a href="/images/{{ item.id }}">Kuvat</a>

</p>
{% endif %}
{% for image in images %}
<img src="/image/{{ image.id }}" />
{% endfor %}

{% if classes %}
<div class="categories">
    {% for title, value in classes %}
        <span class="category-button">{{ title }}: {{ value }}</span>
    {% endfor %}
</div>
{% endif %}
<p>
    Matkan ajankohta: {{ item.start_date | format_date }} - {{ item.end_date | format_date }}
</p>
<p>
    Suunnitelma:
</p>
<p>
{{ item.description | show_lines }}
</p>
<p>
    Suunnittelija: <a href="/user/{{ item.user_id }}">{{ item.username }}</a>
</p>
<h3>Kommentit</h3>
<ul>
    {% for comment in comments %}
    <li>{{ comment.comment | show_lines }} <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a></li>
    {% endfor %}
</ul>
{% if session.user_id %}
<h3>Uusi kommentti</h3>
<form action="/create_comment" method="post">
    <textarea name="comment" rows="5" cols="50" maxlength="1000" required></textarea>
    <input type="hidden" name="item_id" value="{{ item.id }}"> <br />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Kommentoi" />
</form>
{% endif %}
{% endblock %}