{% extends "layout.html" %}

{% block title %}{{ item.destination }}{% endblock %}

{% block content %}
<h2>{{ item.destination }}</h2>
{% if session.user_id == item.user_id %}
<p>
    <a href="/edit_item/{{ item.id }}">Muokkaa</a>
    <a href="/remove_item/{{ item.id }}">Poista</a>
    <a href="/images/{{ item.id }}">Kuvat</a>

</p>
{% endif %}
{% for image in images %}
<img src="/image/{{ image.id }}" />
{% endfor %}
<p>
    Matkan ajankohta: {{ item.start_date | format_date }} - {{ item.end_date | format_date }}
</p>
{% if classes %}
<p>
    Luokat:
    <ul>
        {% for class in classes %}
        <li>{{ class.title}}: {{ class.value }}</li>
        {% endfor %}
    </ul>
</p>
{% endif %}
<p>
    Suunnitelma:
    {{ item.description }}
</p>
<p>
    Tekijä: <a href="/user/{{ item.user_id }}">{{ item.username }}</a>
</p>
<h3>Kommentit</h3>
<ul>
    {% for comment in comments %}
    <li>{{ comment.comment }} <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a></li>
    {% endfor %}
</ul>
<h3>Uusi kommentti</h3>
<form action="/create_comment" method="post">
    <textarea name="comment" rows="5" cols="50" maxlength="1000" required></textarea>
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <p>
        <input type="submit" value="Kommentoi" />
    </p>
</form>
{% endblock %}